extend ../includes/base

block head
  title About Us!

block content
  div(class="container")
    div(class="row")
      div(class="col-lg-12")
        h2 About Us
        p A description about us and all we do!

    hr
    
    footer
      p &copy; {{ Site Owner }} 2014

