extend ../includes/base

block head
  title Contact Us!

block content
  div(class="container")
    div(class="row")
      div(class="col-lg-12")
        h2 Contact Us
        p For all questions, please email 
          a(href="mailto:about.us@gmail.com") {{ about.us@gmail.com }}

    hr
    
    footer
      p &copy; {{ Site Owner }} 2014

