extend ../includes/base

block head
  title Example 2 - Blog
  link(href="css/blog.css", rel="stylesheet", type="text/css")

block content
  div(class="container")
    div(class="row")
      div(class="col-lg-12")
        h2 Example 1 - Sticky Footer
        p.
          A glimpse of what we're all about!  Look down for the sticky footer
          at the bottom.

    hr

    footer
      p &copy; {{ Site Owner }} 2014

