extend ../includes/base

block head
  title Example 2 - Blog
  link(href="css/blog.css", rel="stylesheet", type="text/css")

block content
  div(class="container")
    div(class="blog-header")
      h1(class="blog-title") The Bootstrap Blog
      p(class="lead blog-description") The official example template of creating a blog with Bootstrap.

    div(class="row")
      div(class="col-sm-8 blog-main")
        div(class="blog-post")
          h2(class="blog-post-title") Sample blog post

          p(class="blog-post-meta") January 1, 2014 by 
            a(href="#") Mark

          p This blog post shows a few different types of content that's 
            supported and styled with Bootstrap. Basic typography, images, 
            and code are all supported.

          hr

        div(class="blog-post")
          h2(class="blog-post-title") One More Sample blog post

          p(class="blog-post-meta") December 31, 2013 by 
            a(href="#") Mark

          p This blog post shows a few different types of content that's 
            supported and styled with Bootstrap. Basic typography, images, 
            and code are all supported.

          hr

        div(class="blog-post")

          h2(class="blog-post-title") Some Other Sample blog post

          p(class="blog-post-meta") December 21, 2013 by 
            a(href="#") Mark

          p This blog post shows a few different types of content that's 
            supported and styled with Bootstrap. Basic typography, images, 
            and code are all supported.

          hr

        div(class="blog-post")
          h2(class="blog-post-title") Another Sample blog post

          p(class="blog-post-meta") December 11, 2013 by 
            a(href="#") Mark

          p This blog post shows a few different types of content that's 
            supported and styled with Bootstrap. Basic typography, images, 
            and code are all supported.

          hr

      div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
        div(class="sidebar-module sidebar-module-inset")
          h4 About
          p Etiam porta em sem malesuada magna mollis euismod. Cras mattis 
            consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla
            sed consectetur.

        div(class="sidebar-module")
          h4 Archives
          ol(class="list-unstyled")
            li
              a(href="#") January 2014
            li
              a(href="#") December 2013
            li
              a(href="#") November 2013
            li
              a(href="#") October 2013
            li
              a(href="#") September 2013
            li
              a(href="#") August 2013
            li
              a(href="#") July 2013
            li
              a(href="#") June 2013
            li
              a(href="#") May 2013
            li
              a(href="#") April 2013
            li
              a(href="#") March 2013
            li
              a(href="#") February 2013

        div(class="sidebar-module")
          h4 Elsewhere
          ol(class="list-unstyled")
            li
              a(href="#") GitHub
            li
              a(href="#") Twitter
            li
              a(href="#") Facebook

    hr

    footer
      p &copy; {{ Site Owner }} 2014

