extend ../includes/base

block head
  title Home

block content
  div(class="jumbotron")
    div(class="container")
      h1 Welcome to {{ My New Site }}!
      p.
        A website about something really interesting!
      p
        a(class="btn btn-primary btn-lg", href="/contact.html").
          Contact Us &raquo;

  div(class="container")
    div(class="row")
      div(class="col-lg-4")
        h2 Sticky Footer
        p.
          An example page setup with a navbar and sticky footer.
        p
          a(class="btn btn-default", href="/example-1-sticky-footer.html") Example 1 &raquo;

      div(class="col-lg-4")
        h2 Contact
        p.
          A website about something really interesting!
        p
          a(class="btn btn-default", href="/example-2.html") Example 2 &raquo;

      div(class="col-lg-4")
        h2 About
        p.
          A glimpse of what we're all about!
        p
          a(class="btn btn-default", href="/example-3.html") Example 3 &raquo;

    hr

    footer
      p &copy; {{ Site Owner }} 2014

